<html>
	<head>
		<title>capstone project</title>
	</head>	
	<body>
		<div class= "container">
		<div class="header"> 	
			<h1>TRAVEL PLANNER<h1>
			<h5>A handy tourist-guide</h5>
		</div>
		<div class= "main">
			<div >
				<img id ="image" />	
			</div>
			<form class="form-travel" action="">
				<div class="input-wrap">
					<label for="Country">Country</label>
					<input type="text" id="country" placeholder="ex. India"required/>
					
				</div>
				<div class="input-wrap">
					<label for="City">City</label>
					<input type="text" id="city" placeholder="ex. Mumbai" required/>
					
				</div>
				<div class="input-wrap">
					<label for="Start-Date">Start Date</label>
					<input type="date" id="start_date" required/>
				</div>
				<div class="input-wrap">
					<label for="End-Date">End Date</label>
					<input type="date" id="end_date"placeholder="dd-mm-yyyy" value=""min="1997-01-01" max="2030-12-31"required/>
					
				</div>
				
				<button id="button">Search</button>
				
			</form>
			<div id= "result"></div>
			<div id="duration"></div>
			<div id= "weatherData">
				<div id ="x"></div>
			</div>
		</div>
		<div class="footer">
		</div>
		<script>
			if (  '%NODE_ENV%' || '%NODE_ENV%' === 'development') {
			
			} else {
				if('serviceWorker' in navigator){
					window.addEventListener('load',()=>{
						navigator.serviceWorker.register('/service-worker.js');
					});
				}   
			}
			
		</script>
	</body>
	</body>
</html>