<html>
	<head>
		<title>capstone project</title>
	</head>	
	<body>
		<div class= "container">
		<div class="header"> 	
			<h1>TRAVEL PLANNER<h1>
			<h5>A handy tourist-guide</h5>
		</div>
		<div class="menu"></div>
		<div class= "main">
			<div >
				<img id ="image" />	
			</div>
			<form action="">
				<div class="input-wrap">
					<input type="text" id="country" required/>
					<label for="country">Country:</label>
				</div>
				<br><br><br>
				<div class="input-wrap">
					<input type="text" id="city" required/>
					<label for="city">City:</label>
				</div>
				<br><br><br>
				<div class="input-wrap">
					<input type="text" id="start_date" required/>
					<label for="start_date">Start Date:</label>
				</div>
				<br><br><br>
				<div class="input-wrap">
					<input type="text" id="end_date" required/>
					<label for="end_date">End Date:</label>
				</div>
				
				<h6> Date valid forms: month-name dateno fullyear / dateno month-name fullyear </h6>
				<br><br><br>
				<button id="button-style">GO-ON</button>
				
			</form>
			<h3>Result:</h3>
			<div id= "result"></div>
			<br/><br/><br/>
			<div id= "weatherData">
				<div id ="x"></div>
			</div>
		</div>
		<div class="footer">
		</div>
	</body>
</html>