.header{
	text-align: center;
	background-color: #FFD1C1;
	line-height: 10px;
	font-family: sans-serif;
	padding-bottom: 5px;
	padding-top: 10px;
}

body{
	margin : 0;
	padding: 0;
}

.text{
	font-size: 10px;
}


.footer{
	/*background-color: #FFD1C1;*/
	/*width : 100%;*/
}

.main{
	padding: 20px;
}

.container{
	margin: 0 auto;
   	line-height: 5px;
   	/*width: max-content;*/
}		


.icon{
	height: 30px;
	width: 30px;
	padding-top: 10px;
}

.form-travel{
	width: max-content;
	margin-top: 200px;
}
.transClass{
 	transition: transform 0.6s;
	transform: translateY(-25%)
}

#result{
	visibility: hidden;
}
.result{
	margin-top: 30px;
	padding: 0 100px;

	.tripDetails{
		width: auto;
		height: auto;
		margin-bottom: 20px;
		border-bottom: 1px solid grey;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		padding: 0 50px;

	}
	.image{
		width: 50%;
		height: 200px;
		margin: 10px; 

		.cityImage{
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			object-fit: cover;
		}
	}
	.description{
		border-left: 1px solid grey;
		width: 50%;
		line-height: 40px;
		margin: 10px;
		padding: 10px;

		.cityName{
			font-size: 30px;
			float: left;
			display: inline;
		}
		.countryName{
			font-size: 30px;
		}
		.duration{
			/* TODO: style this*/
		}
		.daysLeft{
			.int{
				font-size: 30px;
				display: inline;
			}
		}
	}
}
.weatherData{
	.item{
	}
}
