.header{
	text-align: center;
	background-color: #FFD1C1;
	line-height: 10px;
	font-family: sans-serif;
	padding-bottom: 5px;
	padding-top: 10px;
}

body{
	margin : 0;
	padding: 0;
}

.text{
	font-size: 10px;
}


.footer{
	/*background-color: #FFD1C1;*/
	/*width : 100%;*/
}

.main{
	padding: 20px;
}

.container{
	margin: 0 auto;
   	line-height: 5px;
   	width: max-content;
}		


.icon{
	height: 30px;
	width: 30px;
	padding-top: 10px;
}

.form-travel{
	width: max-content;
	margin-top: 200px;

	/* TEMPORARY*/
	border: 2px solid black;
}



.result{
	margin-top: 30px;
	padding: 0 100px;
	.tripDetails{
		width: auto;
		height: 200px;
		margin-bottom: 20px;
		border-bottom: 2px solid black;
		display: flex;
		justify-content: space-around;
		flex-direction: row;

	}
	.image{
		/* TEMPORARY*/
		border: 2px solid black;
		width: 60%;
		height: 150px;
		margin: 10px; 

		.cityImage{
			width: 200px;
			height: 150px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			object-fit: cover;
		}
	}
	.description{
		/* TEMPORARY*/
		border: 2px solid black;
		width: 40%;
		height: 100px;
		line-height: 20px;
		margin: 10px;
		padding: 10px;

		.cityName{
			font-size: 30px;
		}
	}
}
.weatherData{
	.item{
		width: 200px;
		height: 100px;
		background-color: red;
	}
}
