.img{
  height: 300px;
  width: 50%;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.input-wrap {
  position: relative;
  width: 250px;
  height: 40px;
  line-height: 50px;
}

label {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	color: lightgrey;
	transition: 0.2s all;
	cursor: text;
} 
input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid lightgrey;
  box-shadow: none;
  padding: 0.5rem 0;
 }

input:invalid {
	outline: 0;
	color: #ff2300;
	border-color: lightgrey;
}
input:focus,
input:valid {
  border-color: black;

}
input:focus~label,
input:valid~label {
  font-size: 15px;
  top: -15px;
  color: pink;
  font-family: sans-serif;
  
}


