.img{
  height: 300px;
  width: 50%;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.input-wrap {
  position: relative;
  display: inline;
  padding: 2px;
  margin-left: 15px;
  float: left;
}

label {
  display: block;
  padding: 8px 0;
  font-size: 12px;
}

input {
  outline: 0;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: none;
  width: 250px;
  height: 40px;
  padding-left: 10px;
  color: grey;
 }


input:focus{
  border-color: black;

}
input:focus~label,
input:valid~label {
  font-size: 15px;
  top: -15px;
  color: pink;
  font-family: sans-serif;
  
}


#button{
  border: none;
  background-color: #FFD1C1;
  height: 40px;
  font-size: 15px;
  border: 0px solid lightgrey;
  border-radius: 4px;
  padding: 0 20px;
  margin-top: 23px;
  margin-left: 20px;
} 

#button:hover{

}


